body{
  background-image: url("https://github.com/Gelzieny/nlw-agents-init/blob/main/src/assets/bg.jpg?raw=true");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #121214;
}